p {
  color: "white";
}

.MyCard {
  /* background: #fff4e4; */
  border: 0.8px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 10px;
}

.placeNameNote {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 84%;
  text-align: right;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ipNote {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 5px;
}

.cusNameNote {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 70%;
  text-align: right;
  color: rgba(0, 0, 0, 0.64);
}

.workerCreateName {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  text-align: left;

  color: #000000;
}

.timeNote {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.87);
}

.descNote {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  white-space: pre-wrap;
}

.updaterWorkerName {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #000000;
  padding-top: 10px;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}