@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTableCell-root {
  border-bottom: 1px solid black !important;
}

.MuiList-root .MuiButtonBase-root {
  text-align: right;
}

.MuiDialogContent-root {
  border-radius: 25px;
  padding: 0px;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

* {
  user-select: none;
  -webkit-user-select: none !important; /* Chrome, Opera, Safari */
  -moz-user-select: none !important; /* Firefox 2+ */
  -ms-user-select: none !important; /* IE 10+ */
  user-select: none !important; /* Standard syntax */
}
