.shift {
  display: flex;
  align-items: center;

  width: 200px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  border-top-right-radius: 19px;
  border-top-left-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
  margin-bottom: 16px;
}
