.day_container,
.day_container_selected {
  background-color: rgb(270, 168, 0, 35%);
  border-radius: 8px;
  height: 55px;
  text-align: center;
  min-width: 135px;
  max-width: 135px;
}

.day_container_selected {
  background-color: rgb(270, 168, 0);
}

.days_container {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  margin-top: 22px;
}

@media screen and (min-width: 1120px) {
  .days_container {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .shifts_container {
    padding: 0 5%;
  }
}

.comment {
  display: flex;
  gap: 10px;
}
